<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conexao"
       connectionString="server=localhost;database=mercadoseuze;uid=root;pwd=Root@12345;SslMode=none;AllowPublicKeyRetrieval=true""
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>